@use "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: 81,73,66;
  --success: 0,128,96;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior:  smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: inherit, sans-serif;
}

.btn {
  background-color: #ccc;
  padding: 0.25rem 1rem;
}

.btn-success {
  color: #fff;
  background-color: rgba(var(--success));
}

.page-container {
  padding-left: 5%;
  padding-right: 5%;
}